Package: com.hiphop.transparentmusic
Name: Transparent Music 透明通知音乐
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Transparency!
Maintainer: Mateusz Morawski
Author: Mateusz Morawski
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 152
