Package: com.yourepo.lenglengyu.kwmusica12
Name: 酷我音乐全新全功能破解
Author: 带土
Description: 酷我音乐全新全功能破解版，破解年费豪华会员所有特权，点亮年费会员图标，允许试听下载任意付费专辑下架灰色SQ品质音乐，精简移除部分功能，移除海外ip限制，完美去除启动广告，个性皮肤随意用，4.0版更新支持全部无版权灰色歌曲直接在线下载试听，无版本限制，支持所有版本。更多破解软件，关注公众号：一只小果子。
Depends: mobilesubstrate
Maintainer: daitu <xingxing@126.com>
Architecture: iphoneos-arm
Section: Crazy HipHop-插件(Tweaks)
Version: 5.0
Installed-Size: 90
