Package: hiphop.cricetulu
Version: 1.1
Section: Crazy HipHop-主题(Themes)
Maintainer: CrazyHipHop <342080124@qq.com>
Description: 小仓鼠 角标
Architecture: iphoneos-arm
Name: 小仓鼠 角标
Author: 板井泉水我本命 <342080124@qq.com>
Sponsor: CrazyHipHop <http://crazyc.top>
